html, body { /*configuracoes basicas do corpo da pagina*/
	margin:0;
	padding:0;
	width:100%;
	background-color: rgba(85,148,150,1);
}

h1 { /*Configuracoes de titulo h1*/
	font-size: 30px; /*Fonte*/
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; /*Tipo de fonte*/
	text-align: center; /*Alinhamento*/

}

ul { /*Configuracoes padrao para todas as listas a serem utilizadas*/
	/*margin: 0; Zera as margens da lista*/
	padding: 0;
	list-style: none; /*Zera qualquer predefinicao de estilo da lista*/
}

div#logo{ /*Divisao que corresponde a logo posicionada no topo da pagina*/
	/*margin: 0 auto; Margens automaticas de orientacao esquerda-direita*/
	margin-top: 2%; /*Margem do topo da divisao*/
	display: block; /**/
	position: relative;


}

/*hr
{
	margin-bottom:1%;
	width: 30%;
	display: block;
	margin:0 auto;
	position: relative;
}*/

div#menu
{
	margin: 0 auto;
	margin-top: 0.6%;
	/*	margin-bottom: 0.5%;
*/
	position: relative;
	display: block;


}

ul#nav
{
	position: relative;
	display: table;
	margin: 0 auto;
	margin-bottom: 1%;
	border-bottom-width: 2%;
}

img#foto{
	position:absolute;
	margin-top: 10px;
	position: relative;
	display: block;
	margin: 0 auto;


}


ul#nav li
{
	position: relative; /*Torna a posicao dos itens da lista 'nav', que
											corresponde ao menu, relativos*/
	display: inline-block; /*Define a visualizacao do menu como blocos horizontais*/
	padding: 2%;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 15px;
	text-align: center;
	background: #fff;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	}

ul li a
{
	text-decoration: none;
	color: #2c8d99;
	/*margin-top: 10%;
	margin-bottom: 10%;
	display: block;*/

}

ul#nav li:hover
{
	background-color: #cdd;

}

/**/







h1 {
   margin:0; /*Zerando margem e padding pre-definidos*/
   padding:0;
   margin-bottom: 40px; /*Margem do fundo do h1*/
   font-size:35px; /*Tamanho da fonte*/
/*margin-left:3%;*/
}



div#corpotexto
{
	display: block
	position: relative;

}

article#corpo
{
	background-color: #fff; /*Cor de fundo do artigo*/
	width: 90%; /*Largura do artigo configurada como 60% do tamanho da pagina*/
	display: block;
	margin: 0 auto; /*Margens automaticas de orientacao esquerda-direita*/
	border-radius: 18px; /*Raio da borda do artigo*/
	padding: 1.5%; /*Espacamento interno do artigo*/
}

article#corpo h1
{
	padding: 0.7%;
	text-align: left;
	background-color: rgba(44,141,153,0.6);
	color: #000;
	border-radius: 5px;

}

article#corpo p
{
	text-align: justify;
	text-indent: 1.7em;
}

footer
{
	background-color: #fff;
	height: 10%;
	width: 30em;
	display: block;
	margin: 0 auto;
	margin-bottom: 1%;
	border-radius: 20px;
	position: relative;
	padding: 1.5%;
	margin-top: 0.6%;
	margin-bottom: 5%;
}



footer p
{
	margin: 0;
	font-size: 1.0em;
	/*margin-top: -15px;
	margin-bottom: -15px;*/
	text-align: center;


}
